.select__container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.select__button,
.select__button__required {
	width: 100%;
	border: none;
	cursor: pointer;
	font-family: var(--font-family-main);
	font-size: var(--font-size-m);
	height: 1.5lh;
	background-color: #fff;
	border-radius: 20px;
	transition: 0.3s;
}

.select__button:hover,
.select__button__required:hover {
	background-color: #e6e6e6;
}

.select__button__required {
	border: solid rgba(207, 43, 43, 0.4) 2px;
}

.select__list {
	z-index: 10;
	transition: 0.3s;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	overflow: hidden;
	margin-block-start: 5px;
	position: absolute;
	top: 0.8lh;
	width: 100%;
}
.select__item {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	font-family: var(--font-family-main);
	font-size: var(--font-size-m);
	cursor: pointer;
	width: 100%;
	transition: 0.3s;
	height: 1.5lh;
}
.select__item:hover {
	background-color: #d4d4d4;
}
