.table-head {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: fit-content;
}

.table-head__inner-box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.table-head__settings-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.table-head__display-variants,
.table-head__add-to-db-buttons {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 10px;
}

.table-head__display-variants {
	justify-content: flex-end;
}

.table-head__add-to-db-buttons {
	justify-content: flex-start;
}

.table-head__display-variant-button,
.table-head__add-button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: var(--font-size-xl);
	line-height: 0;
	transition: 0.3s;
}

.table-head__display-variant-button {
	color: var(--color-font-secondary);
}

.table-head__add-button {
	color: var(--color-font-main);
}

.table-head__add-button:hover {
	scale: 1.05;
}

.table-head__display-variant-button__active {
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: var(--color-font-main);
	font-size: var(--font-size-xl);
	line-height: 0;
	transition: 0.3s;
	scale: 1.05;
}

.table-head__display-variant-button:hover {
	scale: 1.05;
	color: var(--color-font-main);
}

.table-head__sortable-cell-box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.table-head__sortable-cell-box > * {
	flex: 1;
	font-weight: bolder;
	font-size: var(--font-size-m);
}

.table-head__divider {
	margin: calc(var(--index) * 0.5) 0;
	width: 100%;
	height: 2px;
	background-color: var(--color-secondary);
}

.table-head__sortable-cell {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.table-head__sort-button {
	color: var(--color-font-main);
	transition: 0.3s;
	opacity: 0;
	line-height: 0;
}

.table-head__sort-button__active {
	color: var(--color-font-main);
	transition: 0.3s;
	opacity: 1;
	line-height: 0;
}

.table-head__sortable-cell:hover .table-head__sort-button {
	opacity: 0.5;
}
