.hero-section {
	width: 100%;
	height: 100vh;
}

.hero-section__container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hero-section__cards-grid {
	width: 85%;
	height: 80%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: calc(var(--index) * 0.7);
	grid-row-gap: calc(var(--index) * 0.7);
	max-width: 1223px;
}

.hero-section__card1 {
	flex-direction: row;
	background-color: #66d766;
	grid-area: 1 / 2 / 2 / 4;
}
.hero-section__card1:hover {
	background-color: #48be48;
}
.hero-section__card2 {
	flex-direction: column;
	background-color: #bb66d7;
	grid-area: 2 / 1 / 3 / 3;
}
.hero-section__card2:hover {
	background-color: #9439b3;
}
.hero-section__card3 {
	flex-direction: row;
	background-color: #d7bd66;
	grid-area: 1 / 1 / 2 / 2;
}
.hero-section__card3:hover {
	background-color: #bda042;
}
.hero-section__card4 {
	flex-direction: column;
	background-color: #66ced7;
	grid-area: 2 / 3 / 3 / 4;
}
.hero-section__card4:hover {
	background-color: #3bacb6;
}
.card {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	font-family: main;
}
.card:hover {
	scale: 1.01;
}
